.section {
  position: absolute;
  margin-top: -240px;
  margin-left: 900px;
}


.frist:hover p {
  background-color: rgb(6, 6, 6);
  box-shadow: 10px 10px 10px 10px rgb(6, 6, 6);
  border-radius: 4px;


}

.section2 {
  position: absolute;
  margin-top: -100px;
  margin-left: 900px;
}

.section3 {
  position: absolute;
  margin-top: 35px;
  margin-left: 900px;
}

.button {
  position: absolute;
  margin-top: 50px;
  border-radius: 10px;

}